.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1DB954;
    color: beige;
}

.footer img{
    width: 100px;
    margin-left: 10px;
}

.footer p{
    color: beige;
    text-decoration: none;
    font-size: 20px;
}